[submodule "projects/hello-world/contracts/lib/forge-std"]
	path = projects/hello-world/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/hello-world/contracts/lib/infernet-sdk"]
	path = projects/hello-world/contracts/lib/infernet-sdk
	url = https://github.com/ritual-net/infernet-sdk
[submodule "projects/torch-iris/contracts/lib/infernet-sdk"]
	path = projects/torch-iris/contracts/lib/infernet-sdk
	url = https://github.com/ritual-net/infernet-sdk
[submodule "projects/torch-iris/contracts/lib/forge-std"]
	path = projects/torch-iris/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/onnx-iris/contracts/lib/infernet-sdk"]
	path = projects/onnx-iris/contracts/lib/infernet-sdk
	url = https://github.com/ritual-net/infernet-sdk
[submodule "projects/onnx-iris/contracts/lib/forge-std"]
	path = projects/onnx-iris/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/prompt-to-nft/contracts/lib/forge-std"]
	path = projects/prompt-to-nft/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/prompt-to-nft/contracts/lib/infernet-sdk"]
	path = projects/prompt-to-nft/contracts/lib/infernet-sdk
	url = https://github.com/ritual-net/infernet-sdk
[submodule "projects/prompt-to-nft/contracts/lib/solmate"]
	path = projects/prompt-to-nft/contracts/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "projects/gpt4/contracts/lib/infernet-sdk"]
	path = projects/gpt4/contracts/lib/infernet-sdk
	url = https://github.com/ritual-net/infernet-sdk
[submodule "projects/gpt4/contracts/lib/forge-std"]
	path = projects/gpt4/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/tgi-llm/contracts/lib/forge-std"]
	path = projects/tgi-llm/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/tgi-llm/contracts/lib/infernet-sdk"]
	path = projects/tgi-llm/contracts/lib/infernet-sdk
	url = https://github.com/ritual-net/infernet-sdk
