gunicorn==22.0.0
mypy==1.8.0
mypy-extensions==1.0.0
packaging==23.2
requests==2.32.0
ruff==0.1.13
types-click==7.1.8
types-Flask==1.1.6
types-Jinja2==2.11.9
types-MarkupSafe==1.1.10
types-requests==2.31.0.20240125
types-Werkzeug==1.0.9
typing_extensions==4.9.0
Flask==3.0.0
quart==0.19.4
infernet-ml==1.0.0
infernet-ml[torch_inference]==1.0.0
infernet-ml[onnx_inference]==1.0.0
infernet-ml[css_inference]==1.0.0
torch==2.2.1
web3==6.15.0
onnx==1.16.0
onnxruntime==1.17.1
pre-commit==2.15.0
